/*colors
text-color:#e9ecef;
body-gradient:#5d6778,#747f94;
box-gradient:#3a404b,#4c5461;
*/
:root {
  --main-color: #0b879a;
  --second-color: #095d6c;
  --text-color: #e3fafc;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  overflow: hidden;
  width: 100rem;
  height: 100vh;
  font-family: serif;
  color: var(--text-color);
  font-size: 2.2rem;
  background-image: linear-gradient(to top, #1398aa, #22b8cf);
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.weather-box-container {
  padding: 2.4rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2.4rem;
  justify-content: center;
  position: relative;
  margin-top: -8.4rem;
}

.placeholder {
  width: 100rem;
  height: 562px;
}

.weather-box {
  padding: 4.4rem 2.4rem;
  background-image: linear-gradient(to top, #095d6c, #0b879a);
  box-shadow: 0 5px 10px 10px rgba(0, 0, 0, 0.05);
  opacity: 80%;
  width: 30rem;
  height: 50rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 9px;
  transition: all 0.4s;
}

.weather-box:hover {
  transform: translateY(-0.25rem);
  box-shadow: 0 10px 15px 12px rgba(0, 0, 0, 0.1);
}

.weather-box h2 {
  font-size: 3.6rem;
  text-align: center;
  margin-bottom: 3.6rem;
}

.weather-info {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.weather-info-list {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  border-top: 3px solid var(--text-color);
  padding-top: 2.8rem;
}

.day-time {
  letter-spacing: 1.2px;
}

.weather-icon {
  width: 8.4rem;
  height: 8.4rem;
}

.weather-icon-container {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  gap: 0.8rem;
}

.big-temperature {
  letter-spacing: 2px;
  font-size: 2.8rem;
  font-weight: 600;
}

.temperature-box-container {
  font-size: 2.4rem;
  display: grid;
  grid-template-columns: 1fr 1fr;

  row-gap: 3.6rem;
}

.temperature-box-container-for-current-day {
  font-size: 2.4rem;
  display: grid;
  row-gap: 2.4rem;
}

.temperature-box {
  display: flex;
  gap: 0.4rem;
  align-items: center;
}

svg {
  width: 2.8rem;
  height: 2.8rem;
}

.margin-left {
  margin-left: 2.4rem;
}

.button {
  opacity: 80%;
  color: var(--text-color);
  background-color: var(--main-color);
  font-weight: 550;
  cursor: pointer;
  border-radius: 6px;
  border: none;
  font-size: 1.8rem;
  width: 12rem;
  height: 4rem;
  transition: all 0.3s;
}

.button:hover {
  background-color: var(--second-color);
}

.back-arrow {
  font-size: 2.8rem;
  font-weight: 600;
}

.navigation {
  grid-column: 1/-1;
  display: flex;
  justify-content: space-between;
}

.choose-city-input {
  border: none;
  background-color: var(--text-color);
  padding: 0 0.8rem;
  font-size: 1.8rem;
  border-radius: 6px;
  width: 18rem;
  height: 4rem;
  transition: all 0.3s;
}

.choose-city-input:focus {
  outline: none;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.15);
}

.choose-city {
  display: flex;
  gap: 1.2rem;
  align-items: center;
  color: var(--text-color);
  font-weight: 600;
  margin-left: auto;
}

.loading {
  font-size: 2.8rem;
  align-self: center;
}

.scrolle-buttons {
  justify-self: center;
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 110%;
  top: 51%;
  font-size: 3.6rem;
  opacity: 80%;
}

.scrolle-buttons span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4.8rem;
  height: 4.8rem;
  background-color: var(--text-color);
  color: #0b879a;
  border-radius: 50%;
  transition: all 0.3s;
}

.scrolle-buttons span:hover {
  background-color: #bae1e3;
}

.scroll-button-plus {
  margin-left: auto;
}

.for-cloudy {
}

.for-sunny {
}

.for-rainy {
}

@media screen and (max-width: 1268px) {
  html {
    font-size: 50.5%;
  }
}

@media screen and (max-width: 1015px) {
  html {
    font-size: 44.5%;
  }
}

@media screen and (max-width: 884px) {
  html {
    font-size: 36.5%;
  }
  .scrolle-buttons {
    width: 108%;
  }
}

@media screen and (max-width: 727px) {
  html {
    font-size: 32.5%;
  }
}

@media screen and (max-width: 577px) {
  body {
    width: 100vw;
  }

  .back-arrow {
    font-size: 4.4rem;
  }

  .scrolle-buttons {
    display: none;
  }

  .scroll-button-plus {
    margin-top: auto;
  }

  .placeholder {
    width: 65rem;
    height: 95rem;
  }

  .button {
    font-size: 3.6rem;
    width: 22rem;
    height: 8rem;
  }

  .choose-city-input {
    font-size: 3.2rem;
    width: 24rem;
    height: 6rem;
  }

  .weather-box-container {
    grid-template-columns: unset;
    margin-top: -15rem;
  }

  .temperature-box-container {
    font-size: 2.8rem;
    row-gap: 0;
  }

  .margin-left {
    margin-left: 0.8rem;
  }

  .weather-box {
    width: 65rem;
    height: 30rem;
    display: grid;
    align-content: center;
  }

  .weather-info {
    flex-direction: unset;
  }

  .weather-box h2 {
    font-size: 4.2rem;
    grid-column: 1/-1;
  }

  .weather-icon-container {
    font-size: 2.4rem;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-right: auto;
  }

  .weather-icon {
    width: 14rem;
    height: 14rem;
  }

  .weather-info-list {
    border: none;
    padding-left: 2.4rem;
    border-left: 3px solid var(--text-color);
    align-content: center;
    padding-top: unset;
    width: 100%;
  }

  .temperature-box-container {
    height: 100%;
  }
}

@media screen and (max-width: 440px) {
  html {
    font-size: 27%;
  }

  .button {
    font-size: 3.8rem;
  }

  .temperature-box-container {
    column-gap: 1.2rem;
  }
  .weather-icon-container {
    gap: 0;
  }
}

@media screen and (max-width: 380px) {
  .width-plus {
    width: 120%;
  }
  .margin-left {
    margin-right: -5rem;
  }
  .temperature-box-container-for-current-day {
    width: 105%;
  }
}
