* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  overflow: hidden;
  width: 100rem;
  height: 100vh;
  font-family: serif;
  color: #e9ecef;
  font-size: 2.2rem;
  background-image: linear-gradient(to top, #5d6778, #747f94);
  margin: 0 auto;
}

.weather-box-container {
  padding: 2.4rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2.4rem;
  justify-content: center;
  margin-top: 10%;
}

.weather-box {
  padding: 4.4rem 2.4rem;
  background-image: linear-gradient(to top, #3a404b, #4c5461);
  box-shadow: 0 5px 10px 10px rgba(0, 0, 0, 0.05);
  opacity: 80%;
  width: 30rem;
  height: 50rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 9px;
  transition: all 0.4s;
}

.weather-box:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 10px 15px 12px rgba(0, 0, 0, 0.1);
}

.weather-box h2 {
  font-size: 3.6rem;
  text-align: center;
  margin-bottom: 3.6rem;
}

.weather-info {
  height: 100%;
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.weather-info-list {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  border-top: 3px solid #e9ecef;
  padding-top: 2.8rem;
}

.day-time {
  letter-spacing: 1.2px;
}

.weather-icon {
  width: 8.4rem;
  height: 8.4rem;
}

.weather-icon-container {
  font-size: 2rem;
  display: flex;
  align-items: flex-start;
  gap: 0.8rem;
}

.big-temperature {
  letter-spacing: 2px;
  font-size: 2.8rem;
  font-weight: 600;
}

.temperature-box-container {
  font-size: 2.4rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  row-gap: 3.6rem;
}

.temperature-box-container-for-current-day {
  font-size: 2.4rem;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 2.4rem;
}

.temperature-box {
  display: flex;
  gap: 0.4rem;
  align-content: center;
}

svg {
  width: 28px;
  height: 28px;
}

.margin-left {
  margin-left: 2.4rem;
}

.button {
  opacity: 80%;
  color: #e9ecef;
  background-color: #434a57;
  font-weight: 550;
  cursor: pointer;
  border-radius: 6px;
  border: none;
  font-size: 1.8rem;
  width: 12rem;
  height: 4rem;
  transition: all 0.3s;
}

.button:hover {
  background-color: #4c5461;
}

.navigation {
  grid-column: 1/-1;
  display: flex;
  justify-content: space-between;
}

.choose-city-input {
  border: none;
  background-color: #dee2e6;
  padding: 0 0.8rem;
  font-size: 1.8rem;
  border-radius: 6px;
  width: 18rem;
  height: 4rem;
}

.choose-city-input:focus {
  border: 0.5px #434a57;
}
.choose-city {
  display: flex;
  gap: 1.2rem;
  align-items: center;
  color: #495057;
  font-weight: 600;
  margin-left: auto;
}
